/* common */

/* ======================= */

.zero-pm-unreads {
    margin-bottom: 8px;
}

.subscribe-to-more-streams__link {
    display: flex;
}

.subscribe-to-more-streams__icon {
    padding-right: 10px;
}

.conversation-partners {
    padding-left: 10px;
}

#private_messages_section_header {
    margin-bottom: 10px;
}

#streams_header {
    margin-bottom: 7px;
}

.streams_subheader {
    padding-bottom: 12px;
}

#userlist-header {
    margin-bottom: 7px;
}

#user_presences {
    .user_sidebar_entry.narrow-filter {
        margin-bottom: 6px;
    }
}

.user-name {
    line-height: 20px;
    font-weight: 500;
}

.message_label_clickable.narrows_by_recipient.stream_label {
    color: #fff;
}

.message_label_clickable.narrows_by_topic {
    font-size: 12px;
}

.message-header-contents {
    .timerender127 {
        color: #475467;
    }
}

.message_content.rendered_markdown {
    line-height: 20px;
}

.message_table {
    .date_row.no-select {
        font-size: 13px;
        color: #667085;
        font-weight: 700;
        letter-spacing: 0.091em;
        opacity: 1;
    }
}

.sidebar-keyboard__img {
    margin-top: 3px;
}

.arrow-up__img {
    margin-top: -3px;
}

.home-link {
    .all-messages {
        padding-right: 5px;
    }
}

.top_left_starred_messages {
    .starred-messages {
        padding-right: 5px;
    }
}

/* icons in star_container */
.withStar.empty-star {
    display: none;
}

.withoutStar.empty-star {
    display: inline-block;
}

.withoutStar {
    display: none;
}

#toggle_private_messages_section_icon-img.down {
    transform: rotate(180deg);
}

/* ======================= */
/* color icons */

.dark-theme {
    .toggle-colors-icon {
        display: none;
    }

    .toggle-colors-icon-dark {
        display: inline-block;
    }
}

.toggle-colors-icon {
    display: inline-block;
}

.toggle-colors-icon-dark {
    display: none;
}

/* ======================= */
/* dark theme */

.dark-theme {
    a {
        color: #53b1fd;
    }

    .header-main.rightside-userlist#top_navbar {
        background-color: #1a222c;
    }

    #message_view_header {
        background-color: #1a222c;
    }

    #top_navbar {
        border-color: #344054;
    }

    #compose-content {
        background-color: #1a222c;
        border-color: none;
    }

    #left_bar_compose_reply_button_big {
        color: #98a2b3;
    }
}